*

# core
!fixSymlinks.sh
!gitgui.sh
!README.md
!.gitignore

# helper folders (symlinks)
!ArxLaetansMod.RelativeSymlinkHelper
!ArxLaetansMod.RelativeSymlinkHelper/help.txt
!ArxLaetansMod.RelativeSymlinkHelper/AncientDevices
!ArxLaetansMod.RelativeSymlinkHelper/HealingPotion
!ArxLaetansMod.RelativeSymlinkHelper/MagicGlassBottleWithPowder
!ArxLaetansMod.RelativeSymlinkHelper/MagicGlassEmptyBottle
!ArxLaetansMod.RelativeSymlinkHelper/MagicGlassWaterBottle
!ArxLaetansMod.RelativeSymlinkHelper/ManaPotion
!ArxLaetansMod.RelativeSymlinkHelper/WineBottle

# AncientDevices
!Mod.AncientDevices.Setup.7z

# mod files autogen
!ArxLaetansMod.Beverages.Setup.7z
!ArxLaetansMod.RestorationPotions.Setup.7z
!ArxLaetansMod.MagicPotions.Setup.7z
!ArxLaetansMod.MagicGlassBottles.Setup.7z
!ArxLaetansMod.HazardousPotions.Setup.7z
